[Unit]
Description=awm persister service

[Service]
User=awm
Group=awm
Type=simple
Restart=always
ExecStart=/usr/bin/awm-crawler --config /etc/awm/config.json
WorkingDirectory=/var/lib/awm/

[Install]
WantedBy=multi-user.target
